{
  "presets": [
    "env",
    "stage-0"
  ],
  "plugins": [
    "transform-vue-jsx",
    "transform-runtime",
    [
      "import",
      [
        {
          "libraryName": "free-vui",
          "libraryDirectory": "src/components"
        }
      ]
    ]
  ],
  "comments": true
}