.v-alert {
  position: relative;
  display: block;
  width: 100%;
  padding: 8px 10px;
  border: 1px solid;
  box-sizing: border-box;
  border-radius: $border-radius;
  overflow: hidden;
  opacity: 1;
  transition: opacity .3s;
  &--align-left {
    text-align: left;
  }
  &--align-center {
    text-align: center;
  }
  &--align-right {
    text-align: right;
  }
  &--info {
    border-color: $color-primary-disabled;
    background-color: $color-primary-alert;
    color: $color-primary;
  }
  &--success {
    border-color: $color-success-disabled;
    background-color: $color-success-alert;
    color: $color-success;
  }
  &--warning {
    border-color: $color-warning-disabled;
    background-color: $color-warning-alert;
    color: $color-warning;
  }
  &--danger {
    border-color: $color-danger-disabled;
    background-color: $color-danger-alert;
    color: $color-danger;
  }
  &--with-icon {
    padding-left: 30px;
  }
  &--message {
    .v-icon {
      position: absolute;
      left: 10px;
      height: 18px;
      font-size: 14px;
      line-height: 18px;
    }
    &-description {
      margin-top: 5px;
      line-height: 20px;
    }
    &.with-desc {
      .v-icon {
        top: 9px;
      }
      .v-alert--message-title {
        font-size: 14px;
      }
    }
  }
  &--close {
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
  }
}

.alert-fade-enter,
.alert-fade-leave-active {
  opacity: 0;
}