/* mixin */
@mixin make-color($border-color, $background-color, $color) {
  border-color: $border-color;
  background-color: $background-color;
  color: $color;
}

@mixin make-size($width, $height, $font-size) {
  width: $width;
  height: $height;
  font-size: $font-size;
  line-height: $height - 2;
}

.v-btn {
  display: inline-block;
  position: relative;
  margin: 0;
  background: none;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  .prefix-icon {
    margin-left: 8px;
  }
  .suffix-icon {
    margin-left: 8px;
  }
  & + .v-btn {
    margin-left: $button-margin;
  }
}

.v-btn--button {
  padding: 0 10px;
  border: 1px solid;
  &:focus:after {
    display: block;
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    content: '';
    border: 0 solid;
    filter: alpha(opacify=40);
    opacity: .4;
    border-radius: inherit;
    animation: buttonEffect .4s;
  }
  &.v-btn--default {
    @include make-color($color-border, transparent, inherit);
    &.plain {
      @include make-color($color-white, transparent, $color-white);
    }
    &:hover, &:focus {
      @include make-color($color-primary-hover, transparent, $color-primary-hover);
    }
    &:focus:after {
      border-color: $color-primary;
    }
    &.disabled, &.disabled:hover {
      @include make-color($color-disabled-border, transparent, $color-text-disabled);
      cursor: not-allowed;
    }
  }
  &.v-btn--primary {
    @include make-color($color-primary, $color-primary, $color-white);
    &:hover, &:focus {
      @include make-color($color-primary-hover, $color-primary-hover, $color-white);
    }
    &:focus:after {
      border-color: $color-primary;
    }
    &.disabled, &.disabled:hover {
      @include make-color($color-primary-disabled, $color-primary-disabled, $color-white);
      cursor: not-allowed;
    }
    &.plain {
      @include make-color($color-primary, transparent, $color-primary);
      &.disabled, &.disabled:hover {
        @include make-color($color-primary-disabled, transparent, $color-primary-disabled);
        cursor: not-allowed;
      }
    }
  }
  &.v-btn--warning {
    @include make-color($color-warning, $color-warning, $color-white);
    &:hover, &:focus {
      @include make-color($color-warning-hover, $color-warning-hover, $color-white);
    }
    &:focus:after {
      border-color: $color-warning;
    }
    &.disabled, &.disabled:hover {
      @include make-color($color-warning-disabled, $color-warning-disabled, $color-white);
      cursor: not-allowed;
    }
    &.plain {
      @include make-color($color-warning, transparent, $color-warning);
      &.disabled, &.disabled:hover {
        @include make-color($color-warning-disabled, transparent, $color-warning-disabled);
        cursor: not-allowed;
      }
    }
  }
  &.v-btn--danger {
    @include make-color($color-danger, $color-danger, $color-white);
    &:hover, &:focus {
      @include make-color($color-danger-hover, $color-danger-hover, $color-white);
    }
    &:focus:after {
      border-color: $color-danger;
    }
    &.disabled, &.disabled:hover {
      @include make-color($color-danger-disabled, $color-danger-disabled, $color-white);
      cursor: not-allowed;
    }
    &.plain {
      @include make-color($color-danger, transparent, $color-danger);
      &.disabled, &.disabled:hover {
        @include make-color($color-danger-disabled, transparent, $color-danger-disabled);
        cursor: not-allowed;
      }
    }
  }
}

.v-btn--text {
  border: 1px solid transparent;
  &.v-btn--default {
    @include make-color(transparent, transparent, $color-text-primary);
    &:hover, &:focus {
      @include make-color(transparent, transparent, $color-primary-hover);
    }
    &.disabled, &.disabled:hover {
      @include make-color(transparent, transparent, $color-text-disabled);
      cursor: not-allowed;
    }
  }
  &.v-btn--primary {
    @include make-color(transparent, transparent, $color-primary);
    &:hover, &:focus {
      @include make-color(transparent, transparent, $color-primary-hover);
    }
    &.disabled, &.disabled:hover {
      @include make-color(transparent, transparent, $color-primary-disabled);
      cursor: not-allowed;
    }
  }
  &.v-btn--warning {
    @include make-color(transparent, transparent, $color-warning);
    &:hover, &:focus {
      @include make-color(transparent, transparent, $color-warning-hover);
    }
    &.disabled, &.disabled:hover {
      @include make-color(transparent, transparent, $color-warning-disabled);
      cursor: not-allowed;
    }
  }
  &.v-btn--danger {
    @include make-color(transparent, transparent, $color-danger);
    &:hover, &:focus {
      @include make-color(transparent, transparent, $color-danger-hover);
    }
    &.disabled, &.disabled:hover {
      @include make-color(transparent, transparent, $color-danger-disabled);
      cursor: not-allowed;
    }
  }
}

.v-btn--radius {
  border-radius: $border-radius;
  &.v-btn--mini {
    @include make-size(auto, 28px, 12px);
  }
  &.v-btn--small {
    @include make-size(auto, 32px, 12px);
  }
  &.v-btn--medium {
    @include make-size(auto, 36px, 14px);
  }
  &.v-btn--large {
    @include make-size(auto, 40px, 16px);
  }
}

.v-btn--circle {
  padding: 0;
  border-radius: 50%;
  &.v-btn--mini {
    @include make-size(28px, 28px, 14px);
  }
  &.v-btn--small {
    @include make-size(32px, 32px, 14px);
  }
  &.v-btn--medium {
    @include make-size(36px, 36px, 16px);
  }
  &.v-btn--large {
    @include make-size(40px, 40px, 18px);
  }
}

@keyframes buttonEffect {
  to {
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    border-width: 6px;
    filter: alpha(opacify=0);
    opacity: 0;
  }
}