.v-modal--mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, .4);
  overflow: auto;
}

.v-modal--wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow: auto;
}

.v-modal {
  position: absolute;
  background: $color-white;
  border-radius: $border-radius;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  box-sizing: border-box;
  &--middle {
    left: 50%;
  }
  &--top-left {
    top: 0;
    left: 0;
  }
  &--top-right {
    top: 0;
    right: 0;
  }
  &--bottom-left {
    bottom: 0;
    left: 0;
  }
  &--bottom-right {
    right: 0;
    bottom: 0;
  }
  &--header {
    position: relative;
    padding: 14px 16px;
    border-bottom: 1px solid $color-border;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    .v-modal--header-close {
      position: absolute;
      right: 16px;
      cursor: pointer;
      &:hover {
        color: $color-primary;
      }
    }
  }
  &--body {
    padding: 16px;
  }
  &--footer {
    border-top: 1px solid $color-divider;
    padding: 10px 16px;
    text-align: right;
  }
}

.modal-fade-enter-active {
  animation: modal-fade-in .3s;
}

.modal-fade-leave-active {
  animation: modal-fade-out .3s;
}

@keyframes modal-fade-in {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes modal-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
}