.v-notify {
  position: fixed;
  display: block;
  width: auto;
  padding: 8px 32px 8px 10px;
  border: 1px solid;
  box-sizing: border-box;
  border-radius: $border-radius;
  overflow: hidden;
  transition: opacity .3s, transform .3s, left .3s, right .3s, top .3s, bottom .3s;
  &.right {
    right: 16px;
  }
  &.left {
    left: 16px;
  }
  &--align-left {
    text-align: left;
  }
  &--align-center {
    text-align: center;
  }
  &--align-right {
    text-align: right;
  }
  &--info {
    border-color: $color-primary-disabled;
    background-color: $color-primary-alert;
    color: $color-primary;
  }
  &--success {
    border-color: $color-success-disabled;
    background-color: $color-success-alert;
    color: $color-success;
  }
  &--warning {
    border-color: $color-warning-disabled;
    background-color: $color-warning-alert;
    color: $color-warning;
  }
  &--danger {
    border-color: $color-danger-disabled;
    background-color: $color-warning-alert;
    color: $color-danger;
  }
  &--with-icon {
    padding-left: 30px;
  }
  &--message {
    .v-icon {
      position: absolute;
      left: 10px;
      height: 18px;
      font-size: 14px;
      line-height: 18px;
    }
    &-content {
      margin-top: 5px;
      line-height: 20px;
    }
    &.with-content {
      .v-icon {
        top: 9px;
      }
      .v-notify--message-title {
        font-size: 14px;
      }
    }
  }
  &--close {
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
  }
}

.notify-fade-enter {
  &.right {
    right: 0;
    transform: translateX(100%);
  }
  &.left {
    left: 0;
    transform: translateX(-100%);
  }
}

.notify-fade-leave-active {
  opacity: 0;
}
