.v-progress {
  position: relative;
  line-height: 1;
  &--line {
    .v-progress-bar {
      display: inline-block;
      width: 100%;
      margin-right: -58px;
      padding-right: 58px;
      vertical-align: middle;
      box-sizing: border-box;
    }
    .v-progress-text {
      display: inline-block;
      width: 44px;
      margin-left: 10px;
      line-height: 1;
      color: $color-text-primary;
      vertical-align: middle;
      i {
        display: block;
        vertical-align: middle;
      }
    }
  }
  &--circle, &--dashboard {
    display: inline-block;
    .v-progress-text {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      margin: 0;
      text-align: center;
      transform: translate(0, -50%);
      i {
        display: block;
        vertical-align: middle;
      }
    }
  }
}

.v-progress-bar--outer {
  position: relative;
  background-color: $color-background;
  border-radius: 100px;
  overflow: hidden;
  vertical-align: middle;
}

.v-progress-bar--inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: $color-primary;
  border-radius: 100px;
  line-height: 1;
  text-align: right;
  white-space: nowrap;
  transition: all .3s cubic-bezier(.08, .82, .17, 1) 0s;
}

.v-progress--hide-info {
  .v-progress-bar {
    display: block;
    margin-right: 0;
    padding-right: 0;
  }
  .v-progress-text {
    display: none;
  }
}

.v-progress--text-inside {
  .v-progress-bar {
    margin-right: 0;
    padding-right: 0;
    .v-progress-bar--inner-text {
      position: absolute;
      top: 50%;
      right: 0;
      margin: 0 5px;
      text-align: center;
      transform: translate(0%, -50%);
      color: $color-white;
    }
  }
}

.v-progress--active {
  .v-progress-bar--inner:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: $color-white;
    opacity: 0;
    border-radius: 10px;
    animation: v-progress-active 2s ease-in-out infinite;
  }
}

.v-progress--success {
  .v-progress-bar--inner {
    background-color: $color-success;
  }
  .v-progress-text {
    color: $color-success;
  }
}

.v-progress--exception {
  .v-progress-bar--inner {
    background-color: $color-danger;
  }
  .v-progress-text {
    color: $color-danger;
  }
}

@keyframes v-progress-active {
  0% {
    opacity: .1;
    width: 0;
  }
  20% {
    opacity: .5;
    width: 0;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}
