.v-radio {
  display: inline-block;
  height: 18px;
  line-height: 18px;
  cursor: pointer;
  &--input {
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
    line-height: inherit;
    vertical-align: middle;
    white-space: nowrap;
    outline: none;
    &-inner {
      position: relative;
      z-index: 1;
      display: inline-block;
      width: 100%;
      height: 100%;
      border: 1px solid $color-border;
      background-color: $color-white;
      border-radius: 100%;
      box-sizing: border-box;
      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        content: "";
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background-color: $color-white;
        transform: translate(-50%, -50%) scale(0);
        transition: transform .3s cubic-bezier(.71, -.46, .88, .6);
      }
    }
    &-original {
      position: absolute;
      z-index: -1;
      width: 0;
      height: 0;
      margin: 0;
      opacity: 0;
      outline: none;
    }
  }
  &--label {
    display: inline-block;
    position: relative;
    padding-left: 2px;
    font-weight: 500;
    font-size: inherit;
    line-height: inherit;
    white-space: nowrap;
    vertical-align: middle;
    outline: none;
  }
  &.bordered {
    border: 1px solid $color-border;
    box-sizing: border-box;
    border-radius: $border-radius;
  }
  &.checked {
    border-color: $color-primary;
    .v-radio--input-inner {
      border-color: $color-primary;
      background-color: $color-primary;
      &:after {
        transform: translate(-50%, -50%) scale(1);
      }
    }
    .v-radio--label {
      color: $color-primary;
    }
  }
  &.disabled {
    border-color: $color-disabled-border;
    cursor: not-allowed;
    .v-radio--input-inner {
      border-color: $color-disabled-border;
      background-color: $color-thead-background;
    }
    .v-radio--label {
      color: $color-text-disabled;
    }
  }
  &.checked {
    &.disabled {
      .v-radio--input-inner {
        &:after {
          background-color: $color-border;
        }
      }
    }
  }
}

.v-radio--mini {
  &.bordered {
    height: 28px;
    padding: 3px 15px 3px 10px;
    font-size: 12px;
  }
}

.v-radio--small {
  &.bordered {
    height: 32px;
    padding: 5px 15px 5px 10px;
    font-size: 12px;
  }
}

.v-radio--medium {
  &.bordered {
    height: 36px;
    padding: 7px 20px 7px 10px;
    font-size: 14px;
  }
}

.v-radio--large {
  &.bordered {
    height: 40px;
    padding: 9px 20px 9px 10px;
    font-size: 14px;
  }
}
