.v-steps {
  width: 100%;
  font-size: 0;
  &--item {
    position: relative;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    .v-steps--icon {
      display: inline-block;
      width: 28px;
      height: 28px;
      font-size: 14px;
      line-height: 26px;
      text-align: center;
      vertical-align: top;
      &-inner {
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid;
        border-radius: 100%;
        box-sizing: border-box;
        .v-icon {
          font-size: 20px;
        }
      }
    }
    &-content {
      display: inline-block;
      vertical-align: top;
    }
    &-title {
      position: relative;
      display: inline-block;
      padding-right: 16px;
      font-weight: 500;
      font-size: 14px;
      line-height: 26px;
    }
    &-description {
      max-width: 140px;
      font-size: 12px;
    }
    &.finish {
      .v-steps--item-tail {
        background-color: $color-primary;
      }
      .v-steps--icon-inner {
        border-color: $color-primary;
        color: $color-primary;
      }
      .v-steps--item-title {
        color: $color-primary;
        &:after {
          background-color: $color-primary;
        }
      }
      .v-steps--item-description {
        color: $color-text-secondary;
      }
    }
    &.process {
      .v-steps--item-tail {
        background-color: $color-border;
      }
      .v-steps--icon-inner {
        border-color: $color-primary;
        background-color: $color-primary;
        color: $color-white;
      }
      .v-steps--item-title {
        &:after {
          background-color: $color-border;
        }
      }
      .v-steps--item-description {
        color: $color-text-secondary;
      }
    }
    &.wait {
      .v-steps--item-tail {
        background-color: $color-divider;
      }
      .v-steps--icon-inner {
        border-color: $color-border;
        color: $color-border;
      }
      .v-steps--item-title {
        color: $color-text-disabled;
        &:after {
          background-color: $color-divider;
        }
      }
      .v-steps--item-description {
        color: $color-text-disabled;
      }
    }
    &.error {
      .v-steps--item-tail {
        background-color: $color-divider;
      }
      .v-steps--icon-inner {
        border-color: $color-danger;
        color: $color-danger;
      }
      .v-steps--item-title {
        color: $color-danger;
        &:after {
          background-color: $color-divider;
        }
      }
      .v-steps--item-description {
        color: $color-danger;
      }
    }
  }
}

.v-steps--horizontal {
  display: flex;
  .v-steps--item {
    display: inline-block;
    &:not(:last-child) {
      flex: 1;
      margin-right: 16px;
      .v-steps--item-title:after {
        position: absolute;
        top: 16px;
        left: 100%;
        display: block;
        content: "";
        width: 9999px;
        height: 1px;
        opacity: 1;
        transition: all .3s ease-in-out;
      }
    }
    .v-steps--icon {
      margin-right: 8px;
    }
  }
}

.v-steps--vertical {
  .v-steps--item {
    display: block;
    padding-bottom: 16px;
    &:not(:last-child) {
      .v-steps--item-tail {
        position: absolute;
        top: 34px;
        bottom: 6px;
        left: 14px;
        width: 1px;
        transition: background-color .3s;
        transform: translateX(-50%);
      }
    }
    .v-steps--icon {
      margin-right: 16px;
    }
  }
}
