/* mixin */
@mixin make-color($border-color, $background-color, $color) {
  border: 1px solid $border-color;
  background-color: $background-color;
  color: $color;
}

@mixin make-size($height, $font-size) {
  height: $height;
  font-size: $font-size;
  line-height: $height - 2;
}

.v-tag {
  display: inline-block;
  padding: 0 10px;
  white-space: nowrap;
  border-radius: $border-radius;
  box-sizing: border-box;
  .v-tag--close {
    position: relative;
    right: -5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
    &:hover {
      color: $color-white;
    }
  }
}

.v-tag--text {
  @include make-color(transparent, transparent, $color-text-primary);
  .v-tag--close:hover {
    background-color: $color-text-primary;
  }
}

.v-tag--default {
  @include make-color(rgba(217, 217, 217, 1), transparent, $color-text-primary);
  .v-tag--close:hover {
    background-color: $color-text-primary;
  }
}

.v-tag--info {
  @include make-color(rgba(20, 142, 246, .2), rgba(20, 142, 246, .1), $color-primary);
  .v-tag--close:hover {
    background-color: $color-primary;
  }
}

.v-tag--success {
  @include make-color(rgba(82, 196, 26, .2), rgba(82, 196, 26, .1), $color-success);
  .v-tag--close:hover {
    background-color: $color-success;
  }
}

.v-tag--warning {
  @include make-color(rgba(250, 173, 20, .2), rgba(250, 173, 20, .1), $color-warning);
  .v-tag--close:hover {
    background-color: $color-warning;
  }
}

.v-tag--danger {
  @include make-color(rgba(245, 34, 45, .2), rgba(245, 34, 45, .1), $color-danger);
  .v-tag--close:hover {
    background-color: $color-danger;
  }
}

.v-tag--custom {
  border-color: transparent;
  color: $color-white;
  .v-tag--close:hover {
    font-weight: 600;
    background-color: transparent;
  }
}

.v-tag--mini {
  @include make-size(28px, 12px);
}

.v-tag--small {
  @include make-size(32px, 12px);
}

.v-tag--medium {
  @include make-size(36px, 14px);
}

.v-tag--large {
  @include make-size(40px, 14px);
}

.v-tag + .v-tag {
  margin-left: 10px;
}